* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
:root {
  --theme__color: #f55f8d;
}

.container {
  width: 80%;
  margin: 0 auto 0;
}

.btn {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%; /* mở rộng vùng trải*/
  box-shadow: 0 0 20px #eee;
  padding: 20px 35px;
  line-height: 1.2;
  border: none;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
  color: white;
  border-radius: 30px;
  display: block;
}

.btn:hover {
  background-position: right center;
  cursor: pointer;
}
/* start header */
header {
  height: 140px;
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  height: 70%;
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-right: 20px;
}
nav li {
  height: 100%;
}
nav a {
  height: 100%;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 30px;
  font-size: 15px;
}
nav a i {
  padding-left: 5px;
  font-size: 10px;
}
nav a span {
  font-weight: 500;
}
nav a:hover {
  color: var(--theme__color);
}
nav a:hover span {
  animation: upToDown 0.3s;
}
/* end header */

/* Animation */
@keyframes upToDown {
  49% {
    transform: translateY(200%);
  }

  50% {
    opacity: 0;
    transform: translateY(-200%);
  }

  51% {
    opacity: 1;
  }
}
